.main-page401 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page401__title {
  margin-bottom: 20px;
  font-size: $text-xl;
  font-weight: bold;
}